<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiao.hospital.mapper.SysFastMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xiao.hospital.entity.SysFast">
        <id column="fast_id" property="fastId" />
        <result column="fast_info" property="fastInfo" />
        <result column="iid" property="iid" />
        <result column="docter_id" property="docterId" />
    </resultMap>

</mapper>
