<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiao.hospital.mapper.SysHealthMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xiao.hospital.entity.SysHealth">
        <id column="he_id" property="heId" />
        <result column="he_name" property="heName" />
        <result column="he_url" property="heUrl" />
        <result column="t_id" property="tId" />
    </resultMap>

</mapper>
