<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiao.hospital.mapper.SysLeaderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xiao.hospital.entity.SysLeader">
        <id column="lid" property="lid" />
        <result column="lname" property="lname" />
        <result column="limg" property="limg" />
        <result column="linfo" property="linfo" />
    </resultMap>

</mapper>
