<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiao.hospital.mapper.SysTitleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xiao.hospital.entity.SysTitle">
        <id column="title_id" property="titleId" />
        <result column="title_fu_id" property="titleFuId" />
        <result column="title_name" property="titleName" />
        <result column="title_url" property="titleUrl" />
        <result column="title_flag" property="titleFlag" />
    </resultMap>

</mapper>
