<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiao.hospital.mapper.SysTuanMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xiao.hospital.entity.SysTuan">
        <id column="tuan_id" property="tuanId" />
        <result column="ttitle" property="ttitle" />
        <result column="tpath" property="tpath" />
        <result column="tdate" property="tdate" />
    </resultMap>

</mapper>
